<body>
  <!-- <div class="container">
  </div> -->

  <div class="card">
    <h2 class="card-header">Coffee details</h2>
    <div class="card-body">
      <ul class="alternating-colors">
        <li>
          <strong>Name</strong>
          <p>{{coffee.blend_name}}</p>
        </li>
        <li>
          <strong>Origin</strong>
          <p>{{coffee.origin}}</p>
        </li>
        <li>
          <strong>Variety</strong>
          <p>{{coffee.variety}}</p>
        </li>
        <li>
          <strong>Notes</strong>
          <p>{{coffee.notes}}</p>
        </li>
        <li>
          <strong>Intensifier</strong>
          <p>{{coffee.intensifier}}</p>
        </li>
      </ul>
      <h5><span class="link"><a (click)="gotoList()">Coffee List</a></span> </h5>
    </div>
  </div>
</body>
